/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
}

.container {
    background: radial-gradient(#14b8a6, #0891b2);
    min-height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.add {
    margin-bottom: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #4338ca;
    color: white;
    font-weight: bold;
    transition-duration: 0.2s;
}

.add:hover {
    transition-duration: 0.2s;
    transform: scale(1.05);
    box-shadow: 1px 2px 1px #000000;
    cursor: pointer;
}

.library {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 30px;
}

.book {
    background-color: rgb(247, 247, 247);
    padding: 20px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 50px 50px;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #242424;
}

.book h2 {
    font-size: 20px;
}

.book h3 {
    margin-bottom: 20px;
}

.book .finished[finished="true"] {
    background-color: #02aa6a;
    transition-duration: .2s;
}   

.book .finished[finished="false"] {
    background-color: #c23131;
    transition-duration: .2s;
} 

.book .remove {
    background-color: #979797;
    font-size: 15px;
}

.book .remove, .book .finished {
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 10px;
    height: 50px;
    border: none;
    font-weight: bold;
}

.book .remove:hover, .book .finished:hover {
    box-shadow: 0 0 2px #000000;
    transition-duration: .2s;
    cursor: pointer;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(143, 143, 143, 0.5);
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    height: 300px;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}

.cancel {
    align-self: flex-end;
    justify-self: start;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #f72828;
    border-radius: 5px;
    border: none;
}

fieldset {
    margin-top: -30px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
}

fieldset label {
    font-size: 15px;
    margin: 10px;
}

.form button {
    margin-bottom: 10px;
}

.form button:not(.cancel){
    padding: 5px 10px;
    background-color: #15803d;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    font-weight: 500;
    color: white;
}

.form button:hover {
    box-shadow: 0 0 5px rgb(122, 122, 122);
}